<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- ng-facebook js -->
    <script src="lib/ng-facebook/ngFacebook.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="tellLast">
    <div id="fb-root"></div>

    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>

    <ion-tabs class="tabs-positive">
      <ion-tab icon="ion-navicon" ui-sref="inbox">
        <ion-nav-view name="inbox"></ion-nav-view>
      </ion-tab>
      <ion-tab icon="ion-plus" ui-sref="tell">
        <ion-nav-view name="tell"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

    <script type="text/ng-template" id="login.html">
      <ion-view title="Login" hide-nav-bar="true" show-tabs="false">
        <ion-content has-header="false" padding="true">
          <p>Hello world.</p>
          <button class="button button-block button-positive">
            Login with Facebook
          </button>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="inbox.html">
      <ion-view title="Inbox">
        <ion-content padding="true">
          <ion-list>
            <ion-item ng-repeat="tell in tells" class="item-thumbnail-right">
              <img ng-src="//graph.facebook.com/{{tell.from_uid}}/picture" />
              <p>{{tell.body}}</p>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="tell.html">
      <ion-view title="Tell">
        <ion-content padding="true">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">From</span>
              <select ng-model="tell.from_uid" ng-options="friend.id as friend.name for friend in friends">
                <option value="">From</option>
              </select>
            </label>
            <label class="item item-input">
              <span class="input-label">To</span>
              <select ng-model="tell.to_uid" ng-options="friend.id as friend.name for friend in friends">
                <option value="">To</option>
              </select>
            </label>
            <label class="item item-input">
              <span class="input-label">Message</span>
              <textarea ng-model="tell.body" placeholder="Something lovely here.."></textarea>
            </label>
            <button ng-click="submit()" class="button button-block button-positive">Tell</button>
          </div>
        </ion-content>
      </ion-view>
    </script>
  </body>
</html>
